<div id="titleHeader">
    <img id="headerPic" src="../images/coderImage.jpeg" alt="just a cool pic">
    <h1 id="headerText">Mike Cioce: Full Stack Developer for Hire</h1>
    <h3 id="headerText"><em>"Welcome to my site. Click some links"</em></h3>
</div>
<nav>
    <div class="nav-elements">
        <ul class="nav-elements">
            <li class="nav-link"><a href="about.html">About</a></li>
            <li class="nav-link"><a>CV</a></li>
            <li class="nav-link"><a>Projects</a></li>
            <li class="nav-link"><a>Contact</a></li>
        </ul>
    </div>
</nav>
        
